/* Buttons */

.button {
  border: 0px;
  border-radius: 10rem;
  color: $color-light;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  font-family: $font-text;
  font-size: 0.9rem;
}

.btn-one {
  background: $color-main-light;
  padding: 3% 6%;
}

.btn-one:hover {
  background: $color-main-dark;
}

.btn-bookmark {
  background: $color-light-gray;
  padding: 0;
  &.active {
    background: $color-main-light;
  }
}

.btn-bookmark span {
  padding: 0 16px 0 8px;
}

/* Icons */
.fa-bookmark {
  background: $color-dark-gray;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &.active {
    background: $color-main-dark;
  }
}

.fa-xmark {
  color: $color-light-gray;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.fa-xmark:hover {
  color: black;
  cursor: pointer;
}
