*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: hsl(187, 39%, 91%);
  font-family: $font-text;
  font-size: $base-size;
  color: $color-light;
  max-width: 1440px;
}

.box {
  display: flex;
  justify-content: space-between;
}
