header {
  background-image: url('../images/image-hero-desktop.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

nav {
  display: flex;
}

.fa-bars {
  display: none;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: $color-light;
}

.mobile-menu ul li a {
  color: black;
}

@media (max-width: 576px) {
  header {
    background-image: url('../../images/image-hero-mobile.jpg');
  }

  nav ul {
    display: none;
  }

  .fa-bars {
    display: block;
    &.hide {
      display: none;
    }
  }
}
