main {
  position: relative;
  top: -3rem;
}

section {
  width: 70%;
  max-width: 600px;
  background-color: $color-light;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 2rem;
  position: relative;
  &:first-child {
    padding-top: 0;
    p {
      justify-content: center;
      margin: 0.75rem 0 1.25rem 0;
    }
  }
}

.general {
  .logo {
    position: relative;
    top: -24px;
    height: 56px;
    width: 56px;
  }
  .box {
    padding: 0;
  }
}

.stats {
  display: flex;
  gap: 2rem;
}

.elem {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: left;
  position: relative;
  p {
    margin-top: 7px;
  }
  > div {
    font-weight: 700;
    font-size: 25px;
  }
  &:nth-child(2)::before {
    content: ' ';
    display: flex;
    flex-direction: column;
    height: 0.5px;
    width: 43px;
    position: absolute;
    left: 83%;
    top: 36%;
    background: $color-light-gray;
    rotate: 90deg;
  }
  &:nth-child(2)::after {
    content: ' ';
    display: flex;
    flex-direction: column;
    height: 0.5px;
    width: 43px;
    position: absolute;
    left: -36%;
    top: 36%;
    background: $color-light-gray;
    rotate: 90deg;
  }
}

.money,
.backers,
.days {
  color: black;
  display: flex;
}

.bar {
  width: 100%;
  height: 12px;
  border-radius: 10px;
  background: $color-light-gray;
  position: relative;
  margin-top: 16px;
}

.progress-bar {
  background: $color-main-dark;
  width: 5%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  border-radius: inherit;
}

.options {
  text-align: left;
  > p {
    margin: 26px 0;
  }
}

.card {
  border: 2px solid $color-light-gray;
  margin-bottom: 16px;
  border-radius: 5px;
  &.active {
    border-color: $color-main-light;
  }
}

.box-donation p {
  color: $color-main-light;
  margin-left: 30px;
}

.products .card > p {
  padding: 0 18px;
  margin: 0;
}

.container {
  .card {
    .box {
      flex-wrap: wrap;
    }
    > p {
      padding: 0 18px 18px;
      margin: 0 0 16px 33px;
    }
  }
}

.unavailable {
  opacity: 0.5;
  filter: grayscale(1);
  pointer-events: none;
}

.amount {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  span:nth-child(1) {
    color: black;
    font-size: 24px;
    font-weight: 700;
    padding-right: 7%;
  }
  span:nth-child(2) {
    color: $color-light-gray;
  }
}

@media (max-width: 576px) {
  section {
    width: 90%;
    padding: 1.5rem;
  }

  .stats {
    flex-direction: column;
  }

  .elem {
    align-items: center;
    &:nth-child(2)::before {
      width: 72px;
      left: auto;
      rotate: 0deg;
      top: -35%;
    }
    &:nth-child(2)::after {
      width: 72px;
      left: auto;
      rotate: 0deg;
      top: 135%;
    }
  }

  .box-donation p {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .container .amount {
    order: 1;
  }
}
