$font-text: 'League Spartan', sans-serif;
$base-size: 16px;

$font-light: 400;
$font-semibold: 500;
$font-bold: 700;

$color-light: #fff;
$color-main-light: hsl(176, 50%, 47%);
$color-main-dark: hsl(176, 72%, 28%);
$color-light-gray: hsl(0, 0%, 66%);
$color-dark-gray: hsl(0, 0%, 48%);
